<div class="livreur-paiement" *ngIf="!chargement">

  <section *ngIf="entreprise; else pasEntreprise">
    <h2>{{ entreprise.nom }}</h2>

    <div class="qr-apercu">
      <canvas #qrCanvas [hidden]="!entreprise.qr_code"></canvas>
      <div class="qr-vide" *ngIf="!entreprise.qr_code">
        <p>{{ 'livreur.paiement.pasDeNumeroConfigure' | translate }}</p>
      </div>
    </div>

    <ul *ngIf="entreprise.numero_orange || entreprise.numero_moov">
      <li *ngIf="entreprise.numero_orange">{{ 'livreur.paiement.orangeMoney' | translate:{ numero: entreprise.numero_orange } }}</li>
      <li *ngIf="entreprise.numero_moov">{{ 'livreur.paiement.moovMoney' | translate:{ numero: entreprise.numero_moov } }}</li>
    </ul>

    <p class="info-discrete" *ngIf="entreprise.qr_code">
      {{ 'livreur.paiement.consignePresenter' | translate }}
    </p>
    <div class="qr-actions" *ngIf="entreprise.qr_code">
      <button type="button" (click)="imprimerQr()">{{ 'livreur.paiement.boutonImprimer' | translate }}</button>
      <button type="button" (click)="telechargerQr()">{{ 'livreur.paiement.boutonTelecharger' | translate }}</button>
    </div>
  </section>

  <ng-template #pasEntreprise>
    <p class="info-discrete">
      {{ 'livreur.paiement.pasEntreprise' | translate }}
    </p>
  </ng-template>
</div>
