<div class="missions">
  <table>
    <thead>
      <tr>
        <th>{{ 'livreur.missions.colonneDemande' | translate }}</th>
        <th>{{ 'livreur.missions.colonneTrajet' | translate }}</th>
        <th>{{ 'livreur.missions.colonneStatut' | translate }}</th>
        <th>{{ 'livreur.missions.colonneActions' | translate }}</th>
      </tr>
    </thead>
    <tr *ngFor="let mission of missions">
      <td>#{{ mission.id_demande }}</td>
      <td>
        <ng-container *ngIf="mission.demande as demande">{{ demande.adresse_depart }} → {{ demande.adresse_arrivee }}</ng-container>
      </td>
      <td>{{ ('livreur.missions.statutMission.' + mission.statut_prise_en_charge) | translate }}</td>
      <td>
        <a [routerLink]="['/livreur/missions', mission.id]">{{ 'commun.action.voirDetail' | translate }}</a>
      </td>
    </tr>
  </table>
  <p *ngIf="!missions.length">{{ 'livreur.missions.aucuneMission' | translate }}</p>
</div>
