<div class="auth-page">
  <div class="auth-formulaire" style="width: 100%;">
    <div class="auth-carte">
      <h2>{{ 'auth.reinitialiser.titre' | translate }}</h2>

      <div *ngIf="succes; else formulaire">
        <p class="succes">{{ 'auth.reinitialiser.succes' | translate }}</p>
      </div>

      <ng-template #formulaire>
        <form [formGroup]="form" (ngSubmit)="soumettre()">
          <label>
            {{ 'auth.reinitialiser.nouveauMotDePasse' | translate }}
            <input type="password" formControlName="mot_de_passe" />
          </label>
          <label>
            {{ 'auth.reinitialiser.confirmerMotDePasse' | translate }}
            <input type="password" formControlName="mot_de_passe_confirmation" />
          </label>
          <p class="erreur" *ngIf="erreur">{{ erreur | translate }}</p>
          <button type="submit" [disabled]="form.invalid || envoiEnCours">
            {{ (envoiEnCours ? 'auth.reinitialiser.boutonEnCours' : 'auth.reinitialiser.bouton') | translate }}
          </button>
        </form>
        <p><a routerLink="/auth/login">{{ 'auth.reinitialiser.retour' | translate }}</a></p>
      </ng-template>
    </div>
  </div>
</div>
