<div class="mes-demandes">

  <p><a routerLink="/client/creer-demande">{{ 'client.mesDemandes.nouvelleDemande' | translate }}</a></p>
  <table>
    <thead>
      <tr>
        <th>{{ 'client.mesDemandes.colonneNumero' | translate }}</th>
        <th>{{ 'client.mesDemandes.colonneTrajet' | translate }}</th>
        <th>{{ 'client.mesDemandes.colonneStatut' | translate }}</th>
        <th>{{ 'client.mesDemandes.colonneActions' | translate }}</th>
      </tr>
    </thead>
    <tr *ngFor="let demande of demandes">
      <td>#{{ demande.id }}</td>
      <td>{{ demande.adresse_depart }} → {{ demande.adresse_arrivee }}</td>
      <td>{{ ('commun.statutDemande.' + demande.statut) | translate }}</td>
      <td>
        <a [routerLink]="['/client/mes-demandes', demande.id]">{{ 'client.mesDemandes.lienDetail' | translate }}</a>
        <button type="button" *ngIf="demande.statut === 'EN_ATTENTE'" (click)="annuler(demande)">{{ 'commun.action.annuler' | translate }}</button>
      </td>
    </tr>
  </table>
  <p *ngIf="!demandes.length">{{ 'client.mesDemandes.aucuneDemande' | translate }}</p>
</div>
